<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
    <link rel="stylesheet" th:href="@{/css/register.css}">
</head>
<body>
<div class="wrapper">
    <form th:action="@{/register}" th:object="${user}" method="post"><h1>Register</h1>
        <!-- Name -->
        <div class="input-box">
            <input type="text" th:field="*{name}" placeholder="Full Name" required>
            <div class="error" th:errors="*{name}"></div>
        </div>

        <!-- Email -->
        <div class="input-box">
            <input type="email" th:field="*{email}" placeholder="Email" required>
            <div class="error" th:errors="*{email}"></div>
        </div>

        <!-- Phone -->
        <div class="input-box">
            <input type="text" th:field="*{phone}" placeholder="Phone" required>
            <div class="error" th:errors="*{phone}"></div>
        </div>

        <!-- Insurance -->
        <div class="input-box">
            <select th:field="*{insurance}">
                <option value="NONE">None</option>
                <option value="NYSTATE_INSURANCE">NY State Insurance</option>
                <option value="MEDICAID_MEDICARE">Medicaid/Medicare</option>
            </select>
            <div class="error" th:errors="*{insurance}"></div>
        </div>

        <!-- Password -->
        <div class="input-box">
            <input type="password" th:field="*{password}" placeholder="Password" required>
            <div class="error" th:errors="*{password}"></div>
        </div>

<!--        &lt;!&ndash; Role &ndash;&gt;-->
<!--        <div class="input-box">-->
<!--            <select th:field="*{role}">-->
<!--                <option value="USER">User</option>-->
<!--                <option value="ADMIN">Admin</option>-->
<!--            </select>-->
<!--            <div class="error" th:errors="*{role}"></div>-->
<!--        </div>-->

        <!-- Submit Button -->
        <button class="btn" type="submit">Register</button>

        <div class="login-link">
            <p style="color: white">Already have an account?
                <a th:href="@{/login}" style="color: white">Login here</a>
            </p>
        </div>
    </form>
</div>
</body>
</html>